/* * {
    font-family: "Poppins", sans-serif;

} */
body{
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
p, span, li, input, button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}